
#onePart{
color : #00ffff;
margin: 10px;
font-family : "Courier New", monospace;
size : 30px;
text-align: left;
}

#theOtherPart{
color : white;
margin: 10px;
font-family : "Courier New", monospace;
size : 30px;
text-align: left;
}

body{
	margin: 10;
	color : green;
	font-family : "Courier New", monospace;
	background: black;
	text-align: center;
	size : 35px
}
p{
text-align: left;
margin: 10px;
}
