
#onePart{
color : #00ffff;
margin: 50px;
font-family : "Courier New", monospace;
size : 30px;
text-align: left;
}

#theOtherPart{
color : white;
margin: 50px;
font-family : "Courier New", monospace;
size : 30px;
text-align: left;
}

body{
	margin: 0;
	color : green;
	font-family : "Courier New", monospace;
	background: black;
	text-align: center;
}
