

#onePart{
color : white;
margin: 2px;
font-family : "Courier New", monospace;
size : 30px;
}

body{
	margin: 0;
	color : green;
	font-family : "Courier New", monospace;
	background: black;
	text-align: center;
}
